@tailwind base;
@tailwind components;
@tailwind utilities;

/* fixing dynamic card colors tailwind problem */

.bg-green-700 {
    background-color: #047857; /* Tailwind's green-700 color code */
  }
  
  .bg-yellow-700 {
    background-color: #B45309; /* Tailwind's yellow-700 color code */
  }
  
  .bg-red-700 {
    background-color: #B91C1C; /* Tailwind's red-700 color code */
  }
  
  .bg-blue-700 {
    background-color: #1D4ED8; /* Tailwind's blue-700 color code */
  }
  
  .bg-green-800 {
    background-color: #065F46; /* Tailwind's green-800 color code */
  }
  
  .bg-yellow-800 {
    background-color: #92400E; /* Tailwind's yellow-800 color code */
  }
  
  .bg-red-800 {
    background-color: #991B1B; /* Tailwind's red-800 color code */
  }
  
  .bg-blue-800 {
    background-color: #1E40AF; /* Tailwind's blue-800 color code */
  }
  
